.card {
    max-width: 1000px;
    margin: 5px 5px 5px 5px;
    border: dotted 0.2rem rgb(151, 131, 99);
    h2 {
       margin-bottom: 0.2rem;
    }
    button {
        
        :hover {
            color: red
        }
    }
}