<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Car prices</h1>
            <p class="lead fw-normal">
                Everyday monitoring and graphical layout.
                <br>
                Powered by <a href="https://auto.ria.com/uk/" class="link-secondary">autoRIA</a>
            </p>
            <button class="btn btn-outline-secondary" (click)="changeArticles()" [disabled]="!isShowed">Update articles</button>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>


    <div class="open-close-container" [@showHide]="isShowed ? 'show' : 'hide'">

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" *ngIf="articles">

            <div class="row">
                <div class="col">
                    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
                        style="border-radius: 21px 21px 21px 21px; margin: 10px">
                        <a href="{{articles[index].url}}" class="link-light">
                            <div class="my-3 py-3">
                                <h2 class="display-5">{{ articles[index].title }}</h2>
                                <p class="lead">{{ articles[index].author }}</p>
                            </div>
                            <div *ngIf="articles[index].image">
                                <img src='{{articles[index].image}}'
                                    style="width: 100%; height: 100%; border-radius: 21px 21px 21px 21px;">
                            </div>
                        </a>
                    </div>
                    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                        style="border-radius: 21px 21px 21px 21px; margin: 10px">
                        <a href="{{articles[index+1].url}}" class="link-light">
                            <div class="my-3 py-3">
                                <h2 class="display-5">{{ articles[index+1].title }}</h2>
                                <p class="lead">{{ articles[index+1].author }}</p>
                            </div>
                            <div *ngIf="articles[index+1].image">
                                <img src='{{articles[index+1].image}}'
                                    style="width: 100%; height: 100%; border-radius: 21px 21px 21px 21px;">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                        style="border-radius: 21px 21px 21px 21px; margin: 10px">
                        <a href="{{articles[index+2].url}}" class="link-light">
                            <div class="my-3 py-3">
                                <h2 class="display-5">{{ articles[index+2].title }}</h2>
                                <p class="lead">{{ articles[index+2].author }}</p>
                            </div>
                            <div *ngIf="articles[index+2].image">
                                <img src='{{articles[index+2].image}}'
                                    style="width: 100%; height: 100%; border-radius: 21px 21px 21px 21px;">
                            </div>
                        </a>
                    </div>
                    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
                        style="border-radius: 21px 21px 21px 21px; margin: 10px">
                        <a href="{{articles[index+3].url}}" class="link-light">
                            <div class="my-3 py-3">
                                <h2 class="display-5">{{ articles[index+3].title }}</h2>
                                <p class="lead">{{ articles[index+3].author }}</p>
                            </div>
                            <div *ngIf="articles[index+3].image">
                                <img src='{{articles[index+3].image}}'
                                    style="width: 100%; height: 100%; border-radius: 21px 21px 21px 21px;">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>